body{
    background-color:rgb(200, 44, 140);
    
}
h1{
    color: white;
}
@media (min-width:640px) {
    body{
        background-color: skyblue;
    }
    h1{
        color: black;
    }

    
}
@media (min-width:768px) {
    body{
        background-color: rgb(183, 159, 222);
    }
    h1{
        color: rgb(0, 0, 0);
    }

    
}